@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

// .rowCatalogo {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   width: 100vw;
//   background: #40e0d0; /* fallback for old browsers */
//   background: -webkit-linear-gradient(
//     to right,
//     #ff0080,
//     #ff8c00,
//     #40e0d0
//   ); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(
//     to right,
//     #ff0080,
//     #ff8c00,
//     #40e0d0
//   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

// .container-catalogo {
//   display: grid;
//   grid-template-columns: auto 3fr;
//   overflow-y: hidden;
//   width: 100vw;
// }

// .columna1 {
//   height: 100vh;
//   width: 23rem;
//   background: #ffffff;

//   overflow-y: hidden;
// }

// .containerClass {
//   width: 95%;
//   height: 90vh;
//   line-height: 1.5rem;
//   text-align: justify;

//   background: #fff;

//   border-radius: 10px 10px 10px 10px;
//   margin: auto;
//   margin-top: 25px;

//   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
//     rgba(0, 0, 0, 0.22) 0px 15px 12px;
// }

// .container-text {
//   height: 915px;
//   padding: 1rem 4rem 3rem 3rem;
//   color: rgb(5, 5, 5);
//   line-height: 1.1rem;
// }

// .container-text h1 {
//   font-family: "Roboto", sans-serif;
//   font-weight: 800;
//   color: rgb(255, 255, 255);
//   background: #299cb9;
//   height: 50px;

//   padding: 1rem;
// }
// .container-text h3 {
//   font-family: "Roboto", sans-serif;
//   font-weight: 600;
//   border-bottom: 2px solid rgb(201, 180, 180);
//   color: rgb(5, 5, 5);
//   padding: 0.2rem;
// }

// .container-text p {
//   font-family: "Roboto", sans-serif;
// }

// .container-image {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 5rem;

//   .imgPinturascreen {
//     height: auto;
//     width: 90%;
//     // margin-bottom: 3.3rem;

//     filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
//   }

//   .imgPinturascreenSati {
//     height: auto;
//     width: 80%;
//     filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
//   }

//   .imgPinturascreen-vk10 {
//     height: auto;
//     width: 60%;
//     filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
//   }

//   .imgPinturascreen-esmalte {
//     height: auto;
//     width: 70%;
//     filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
//   }

//   .imgPinturascreen-imper {
//     height: auto;
//     width: 95%;
//     margin-bottom: -0.8rem;
//     filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
//   }

//   .imgPinturascreen-iron {
//     height: auto;
//     width: 85%;
//     filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
//     margin-top: -7vh;
//   }

//   .imgPinturascreen-pasta {
//     height: auto;
//     width: 95%;
//     filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
//     margin-top: -5vh;
//   }
// }

// .imgPinturascreenB {
//   height: auto;
//   width: 75%;
//   filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
// }

// .containerInicio {
//   background: #2980b9; /* fallback for old browsers */
//   background: -webkit-linear-gradient(
//     to right,
//     #ffffff,
//     #6dd5fa,
//     #2980b9
//   ); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(
//     to right,
//     #ffffff,
//     #6dd5fa,
//     #2980b9
//   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

//   height: 100vh;
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
//   width: 100%;

//   h1 {
//     font-size: 35px;
//   }

//   // img {
//   //   width: 30vw;
//   // }
// }

// .ant-menu-submenu
//   .ant-menu-submenu-inline
//   .ant-menu-submenu-open
//   .ant-menu-submenu-selected {
//   width: 200px;
//   height: 100vh !important;
// }

// .ant-menu-item a::before {
//   color: #fff;
//   font-weight: 1000;
// }

// .volver {
//   background-color: #299cb9 !important;
//   color: #fff !important;
//   font-weight: 1000 !important;
// }

// .volver:hover {
//   background-color: #4ea12857 !important;
//   color: rgb(247, 245, 245) !important;
//   font-weight: 1000 !important;
// }

// .ant-menu-submenu-title {
//   background-color: #299cb9 !important;
//   color: #fff;
// }
// .ant-menu-submenu-title:hover {
//   color: rgb(248, 248, 242) !important;
//   background-color: #4ea12857;
// }

// i.ant-menu-submenu-arrow {
//   color: #ffffff;
// }

// i.ant-menu-submenu-arrow::before {
//   color: #ffffff !important;
// }

// i.ant-menu-submenu-arrow::after {
//   color: #ffffff !important;
// }

// ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
//   background: rgba(48, 65, 64, 0.096);
// }

@media only screen and (max-width: 600px) {
  .rowCatalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    background: #fff;
  }

  .container-catalogo {
    display: grid;
    grid-template-columns: auto 3fr;
    overflow-y: hidden;
    width: 100vw;
  }

  .columna1 {
    height: auto;
    width: 100vw;
    background: #ffffff;

    overflow-y: hidden;
  }

  .containerClass {
    width: 100vw;
    height: auto;
    text-align: justify;

    background: #fff;

    margin: auto;
    margin-top: 25px;
  }

  .container-text {
    height: auto;
    padding: 0;
    color: rgb(5, 5, 5);
    line-height: 0.8rem;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    height: 50px;

    padding: 1rem;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(5, 5, 5);
    padding: 0.2rem;
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
    padding: 8px;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;

    .imgPinturascreen {
      height: auto;
      width: 90%;
      margin-bottom: 50px;

      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreenSati {
      height: auto;
      width: 80%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 0px;
      margin-bottom: 50px;
    }

    .imgPinturascreen-vk10 {
      height: auto;
      width: 60%;
      margin-top: 5px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-esmalte {
      height: auto;
      width: 70%;
      margin-top: 5px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-imper {
      height: auto;
      width: 95%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 2rem;
      margin-bottom: 50px;
    }

    .imgPinturascreen-iron {
      height: auto;
      width: 85%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 5px;
      margin-bottom: 50px;
    }

    .imgPinturascreen-pasta {
      height: auto;
      width: 95%;
      margin-top: -100px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 0vh;
    }
  }

  .imgPinturascreenB {
    height: auto;
    width: 75%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .imagenInicio {
    width: 100vw;
    padding: 20px;
    margin-top: -300px;
  }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      font-size: 30px;
    }

    // img {
    //   width: 30vw;
    // }
  }

  .ant-menu-submenu
    .ant-menu-submenu-inline
    .ant-menu-submenu-open
    .ant-menu-submenu-selected {
    width: 200px;
    height: 100vh !important;
  }

  .ant-menu-item a::before {
    color: #fff;
    font-weight: 1000;
  }

  .volver {
    background-color: #299cb9 !important;
    color: #fff !important;
    font-weight: 1000 !important;
  }

  .volver:hover {
    background-color: #4ea12857 !important;
    color: rgb(247, 245, 245) !important;
    font-weight: 1000 !important;
  }

  .ant-menu-submenu-title {
    background-color: #299cb9 !important;
    color: #fff;
  }
  .ant-menu-submenu-title:hover {
    color: rgb(248, 248, 242) !important;
    background-color: #4ea12857;
  }

  i.ant-menu-submenu-arrow {
    color: #ffffff;
  }

  i.ant-menu-submenu-arrow::before {
    color: #ffffff !important;
  }

  i.ant-menu-submenu-arrow::after {
    color: #ffffff !important;
  }

  ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    background: rgba(48, 65, 64, 0.096);
  }
}

@media only screen and (min-width: 600px) {
  .rowCatalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: #fff;
  }

  .container-catalogo {
    display: grid;
    grid-template-columns: auto 3fr;
    overflow-y: hidden;
    width: 100vw;
  }

  .columna1 {
    height: auto;
    width: 100vw;
    background: #ffffff;

    overflow-y: hidden;
  }

  .containerClass {
    width: 100vw;
    height: auto;
    text-align: justify;

    background: #fff;

    margin: auto;
    margin-top: 25px;
    box-shadow: none;
  }

  .container-text {
    height: auto;
    padding: 0;
    color: rgb(5, 5, 5);
    line-height: 1rem;
    width: 100vw;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    height: 50px;

    padding: 1rem;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(5, 5, 5);
    padding: 12px;
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
    padding: 12px;
    width: 100vw;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;

    .imgPinturascreen {
      height: auto;
      width: 55%;
      margin-bottom: 50px;

      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreenSati {
      height: auto;
      width: 55%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -50px;
      margin-bottom: 50px;
    }

    .imgPinturascreen-vk10 {
      height: auto;
      width: 50%;
      margin-top: -50px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-esmalte {
      height: auto;
      width: 50%;
      margin-top: -50px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-imper {
      height: auto;
      width: 55%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -3rem;
      margin-bottom: 50px;
    }

    .imgPinturascreen-iron {
      height: auto;
      width: 55%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -80px;
      margin-bottom: 50px;
    }

    .imgPinturascreen-pasta {
      height: auto;
      width: 55%;
      margin-top: -100px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -5vh;
    }
  }

  .imgPinturascreenB {
    height: auto;
    width: 55%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    margin-top: -50px;
    margin-bottom: 50px;
  }

  .imagenInicio {
    width: 55vw;
    margin-top: -400px;
  }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      font-size: 30px;
    }

    // img {
    //   width: 30vw;
    // }
  }

  .ant-menu-submenu
    .ant-menu-submenu-inline
    .ant-menu-submenu-open
    .ant-menu-submenu-selected {
    width: 200px;
    height: 100vh !important;
  }

  .ant-menu-item a::before {
    color: #fff;
    font-weight: 1000;
  }

  .volver {
    background-color: #299cb9 !important;
    color: #fff !important;
    font-weight: 1000 !important;
  }

  .volver:hover {
    background-color: #4ea12857 !important;
    color: rgb(247, 245, 245) !important;
    font-weight: 1000 !important;
  }

  .ant-menu-submenu-title {
    background-color: #299cb9 !important;
    color: #fff;
  }
  .ant-menu-submenu-title:hover {
    color: rgb(248, 248, 242) !important;
    background-color: #4ea12857;
  }

  i.ant-menu-submenu-arrow {
    color: #ffffff;
  }

  i.ant-menu-submenu-arrow::before {
    color: #ffffff !important;
  }

  i.ant-menu-submenu-arrow::after {
    color: #ffffff !important;
  }

  ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    background: rgba(48, 65, 64, 0.096);
  }
}

@media only screen and (min-width: 768px) {
  .rowCatalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: #fff;
  }

  .container-catalogo {
    display: grid;
    grid-template-columns: auto 3fr;
    overflow-y: hidden;
    width: 100vw;
  }

  .columna1 {
    height: auto;
    width: 100vw;
    background: #ffffff;

    overflow-y: hidden;
  }

  .containerClass {
    width: 100vw;
    height: auto;
    text-align: justify;

    background: #fff;

    margin: auto;
    margin-top: 25px;
    box-shadow: none;
  }

  .container-text {
    height: auto;
    padding: 0;
    color: rgb(5, 5, 5);
    line-height: 1rem;
    width: 100vw;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    height: 50px;

    padding: 1rem;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(5, 5, 5);
    padding: 12px;
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
    padding: 12px;
    width: 100vw;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;

    .imgPinturascreen {
      height: auto;
      width: 55%;
      margin-top: 50px;

      margin-bottom: 50px;

      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreenSati {
      height: auto;
      width: 55%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .imgPinturascreen-vk10 {
      height: auto;
      width: 50%;
      margin-top: 50px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-esmalte {
      height: auto;
      width: 50%;
      margin-top: 50px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-imper {
      height: auto;
      width: 55%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 3rem;
      margin-bottom: 50px;
    }

    .imgPinturascreen-iron {
      height: auto;
      width: 55%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .imgPinturascreen-pasta {
      height: auto;
      width: 55%;
      margin-top: -100px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 2vh;
    }
  }

  .imgPinturascreenB {
    height: auto;
    width: 55%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    margin-top: 5px;
    margin-bottom: 50px;
  }

  .imagenInicio {
    width: 55vw;
    margin-top: -400px;
  }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      font-size: 30px;
    }

    // img {
    //   width: 30vw;
    // }
  }

  .ant-menu-submenu
    .ant-menu-submenu-inline
    .ant-menu-submenu-open
    .ant-menu-submenu-selected {
    width: 200px;
    height: 100vh !important;
  }

  .ant-menu-item a::before {
    color: #fff;
    font-weight: 1000;
  }

  .volver {
    background-color: #299cb9 !important;
    color: #fff !important;
    font-weight: 1000 !important;
  }

  .volver:hover {
    background-color: #4ea12857 !important;
    color: rgb(247, 245, 245) !important;
    font-weight: 1000 !important;
  }

  .ant-menu-submenu-title {
    background-color: #299cb9 !important;
    color: #fff;
  }
  .ant-menu-submenu-title:hover {
    color: rgb(248, 248, 242) !important;
    background-color: #4ea12857;
  }

  i.ant-menu-submenu-arrow {
    color: #ffffff;
  }

  i.ant-menu-submenu-arrow::before {
    color: #ffffff !important;
  }

  i.ant-menu-submenu-arrow::after {
    color: #ffffff !important;
  }

  ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    background: rgba(48, 65, 64, 0.096);
  }
}

@media only screen and (min-width: 992px) {
  .rowCatalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: #40e0d0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ff0080,
      #ff8c00,
      #40e0d0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ff0080,
      #ff8c00,
      #40e0d0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .container-catalogo {
    display: grid;
    grid-template-columns: auto 3fr;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
  }

  .columna1 {
    height: 100vh;
    width: 21rem;
    background: #ffffff;
    overflow-y: hidden;
  }

  .containerClass {
    width: 95%;
    height: 100vh;
    line-height: 1.5rem;
    text-align: justify;
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 0;
    margin: 0;
  }

  .container-text {
    height: 100vh;
    width: 100%;
    color: rgb(5, 5, 5);
    line-height: 0.5rem;
    padding: 0;
    margin: 0;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    height: 50px;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(5, 5, 5);
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-size: 10px;
    line-height: 0.8rem;
    padding: 0;
    margin: 0;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    .imgPinturascreen {
      height: auto;
      width: 90%;
      // margin-bottom: 3.3rem;

      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreenSati {
      height: auto;
      width: 80%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-vk10 {
      height: auto;
      width: 60%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-esmalte {
      height: auto;
      width: 70%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-imper {
      height: auto;
      width: 95%;
      margin-bottom: -0.8rem;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-iron {
      height: auto;
      width: 85%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -7vh;
    }

    .imgPinturascreen-pasta {
      height: auto;
      width: 95%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -5vh;
    }
  }

  .imgPinturascreenB {
    height: auto;
    width: 75%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
  }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
      font-size: 35px;
    }

    // img {
    //   width: 30vw;
    // }
  }

  .ant-menu-submenu
    .ant-menu-submenu-inline
    .ant-menu-submenu-open
    .ant-menu-submenu-selected {
    width: 200px;
    height: 100vh !important;
  }

  .ant-menu-item a::before {
    color: #fff;
    font-weight: 1000;
  }

  .volver {
    background-color: #299cb9 !important;
    color: #fff !important;
    font-weight: 1000 !important;
  }

  .volver:hover {
    background-color: #4ea12857 !important;
    color: rgb(247, 245, 245) !important;
    font-weight: 1000 !important;
  }

  .ant-menu-submenu-title {
    background-color: #299cb9 !important;
    color: #fff;
  }
  .ant-menu-submenu-title:hover {
    color: rgb(248, 248, 242) !important;
    background-color: #4ea12857;
  }

  i.ant-menu-submenu-arrow {
    color: #ffffff;
  }

  i.ant-menu-submenu-arrow::before {
    color: #ffffff !important;
  }

  i.ant-menu-submenu-arrow::after {
    color: #ffffff !important;
  }

  ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    background: rgba(48, 65, 64, 0.096);
  }
}

@media only screen and (max-width: 1024px) {
  .rowCatalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: #fff;
  }

  .container-catalogo {
    display: grid;
    grid-template-columns: auto 3fr;
    overflow-y: hidden;
    width: 100vw;
  }

  .columna1 {
    height: auto;
    width: 100vw;
    background: #ffffff;

    overflow-y: hidden;
  }

  .containerClass {
    width: 100vw;
    height: auto;
    text-align: justify;

    background: #fff;

    margin: auto;
    margin-top: 25px;
    box-shadow: none;
  }

  .container-text {
    height: auto;
    padding: 0;
    color: rgb(5, 5, 5);
    line-height: 1rem;
    width: 100vw;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    height: 50px;

    padding: 1rem;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(5, 5, 5);
    padding: 12px;
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
    padding: 12px;
    width: 100vw;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;

    .imgPinturascreen {
      height: auto;
      width: 55%;
      margin-top: 50px;

      margin-bottom: 50px;

      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreenSati {
      height: auto;
      width: 55%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .imgPinturascreen-vk10 {
      height: auto;
      width: 50%;
      margin-top: 50px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-esmalte {
      height: auto;
      width: 50%;
      margin-top: 50px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-imper {
      height: auto;
      width: 55%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 3rem;
      margin-bottom: 50px;
    }

    .imgPinturascreen-iron {
      height: auto;
      width: 55%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .imgPinturascreen-pasta {
      height: auto;
      width: 55%;
      margin-top: -100px;
      margin-bottom: 50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: 2vh;
    }
  }

  .imgPinturascreenB {
    height: auto;
    width: 55%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    margin-top: 5px;
    margin-bottom: 50px;
  }

  .imagenInicio {
    width: 55vw;
    margin-top: -100px;
  }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      font-size: 30px;
    }

    // img {
    //   width: 30vw;
    // }
  }

  .ant-menu-submenu
    .ant-menu-submenu-inline
    .ant-menu-submenu-open
    .ant-menu-submenu-selected {
    width: 200px;
    height: 100vh !important;
  }

  .ant-menu-item a::before {
    color: #fff;
    font-weight: 1000;
  }

  .volver {
    background-color: #299cb9 !important;
    color: #fff !important;
    font-weight: 1000 !important;
  }

  .volver:hover {
    background-color: #4ea12857 !important;
    color: rgb(247, 245, 245) !important;
    font-weight: 1000 !important;
  }

  .ant-menu-submenu-title {
    background-color: #299cb9 !important;
    color: #fff;
  }
  .ant-menu-submenu-title:hover {
    color: rgb(248, 248, 242) !important;
    background-color: #4ea12857;
  }

  i.ant-menu-submenu-arrow {
    color: #ffffff;
  }

  i.ant-menu-submenu-arrow::before {
    color: #ffffff !important;
  }

  i.ant-menu-submenu-arrow::after {
    color: #ffffff !important;
  }

  ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    background: rgba(48, 65, 64, 0.096);
  }
}

@media only screen and (min-width: 1200px) {
  .rowCatalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: #40e0d0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ff0080,
      #ff8c00,
      #40e0d0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ff0080,
      #ff8c00,
      #40e0d0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-y: hidden;
  }

  .container-catalogo {
    display: grid;
    grid-template-columns: auto 3fr;
    overflow-y: hidden;
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  .columna1 {
    height: 100vh;
    width: 23rem;
    background: #ffffff;

    overflow-y: hidden;
  }

  .containerClass {
    width: 95%;
    height: 90vh;
    line-height: 1.5rem;
    text-align: justify;
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .container-text {
    width: 100%;
    height: 100vh;
    color: rgb(5, 5, 5);
    padding: 10px;
    line-height: 1rem;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    height: 50px;
    padding: 1rem;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(5, 5, 5);
    padding: 0.2rem;
    font-size: 12px;
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 0.8rem;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    .imgPinturascreen {
      height: auto;
      width: 90%;
      // margin-bottom: 3.3rem;

      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreenSati {
      height: auto;
      width: 80%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-vk10 {
      height: auto;
      width: 60%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-esmalte {
      height: auto;
      width: 70%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-imper {
      height: auto;
      width: 95%;
      margin-bottom: -0.8rem;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-iron {
      height: auto;
      width: 85%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -7vh;
    }

    .imgPinturascreen-pasta {
      height: auto;
      width: 95%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -5vh;
    }
  }

  .imgPinturascreenB {
    height: auto;
    width: 75%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
  }

  // .imagenInicio {
  //   width: 55vw;
  //   margin-top: -100px;
  // }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
      font-size: 35px;
    }

    // img {
    //   width: 30vw;
    // }
  }

  .ant-menu-submenu
    .ant-menu-submenu-inline
    .ant-menu-submenu-open
    .ant-menu-submenu-selected {
    width: 200px;
    height: 100vh !important;
  }

  .ant-menu-item a::before {
    color: #fff;
    font-weight: 1000;
  }

  .volver {
    background-color: #299cb9 !important;
    color: #fff !important;
    font-weight: 1000 !important;
  }

  .volver:hover {
    background-color: #4ea12857 !important;
    color: rgb(247, 245, 245) !important;
    font-weight: 1000 !important;
  }

  .ant-menu-submenu-title {
    background-color: #299cb9 !important;
    color: #fff;
  }
  .ant-menu-submenu-title:hover {
    color: rgb(248, 248, 242) !important;
    background-color: #4ea12857;
  }

  i.ant-menu-submenu-arrow {
    color: #ffffff;
  }

  i.ant-menu-submenu-arrow::before {
    color: #ffffff !important;
  }

  i.ant-menu-submenu-arrow::after {
    color: #ffffff !important;
  }

  ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    background: rgba(48, 65, 64, 0.096);
  }
}

@media only screen and (min-width: 1440px) {
  .rowCatalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    background: #40e0d0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ff0080,
      #ff8c00,
      #40e0d0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ff0080,
      #ff8c00,
      #40e0d0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .container-catalogo {
    display: grid;
    grid-template-columns: auto 3fr;
    overflow-y: hidden;
    width: 100vw;
  }

  .columna1 {
    height: 100vh;
    width: 23rem;
    background: #ffffff;

    overflow-y: hidden;
  }

  .containerClass {
    width: 95%;
    height: 90vh;
    line-height: 1.5rem;
    text-align: justify;

    background: #fff;

    border-radius: 10px 10px 10px 10px;
    margin: auto;
    margin-top: 25px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .container-text {
    height: 915px;
    color: rgb(5, 5, 5);
    line-height: 1.5rem;
    padding: 10px;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    height: 50px;

    padding: 1rem;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(5, 5, 5);
    padding: 0.2rem;
    font-size: 14px;
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
    line-height: 1rem;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;

    .imgPinturascreen {
      height: auto;
      width: 90%;
      // margin-bottom: 3.3rem;

      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreenSati {
      height: auto;
      width: 80%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-vk10 {
      height: auto;
      width: 60%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-esmalte {
      height: auto;
      width: 70%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-imper {
      height: auto;
      width: 95%;
      margin-bottom: -0.8rem;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-iron {
      height: auto;
      width: 85%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -7vh;
    }

    .imgPinturascreen-pasta {
      height: auto;
      width: 95%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -5vh;
    }
  }

  .imgPinturascreenB {
    height: auto;
    width: 75%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
  }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
      font-size: 35px;
    }

    // img {
    //   width: 30vw;
    // }
  }

  .ant-menu-submenu
    .ant-menu-submenu-inline
    .ant-menu-submenu-open
    .ant-menu-submenu-selected {
    width: 200px;
    height: 100vh !important;
  }

  .ant-menu-item a::before {
    color: #fff;
    font-weight: 1000;
  }

  .volver {
    background-color: #299cb9 !important;
    color: #fff !important;
    font-weight: 1000 !important;
  }

  .volver:hover {
    background-color: #4ea12857 !important;
    color: rgb(247, 245, 245) !important;
    font-weight: 1000 !important;
  }

  .ant-menu-submenu-title {
    background-color: #299cb9 !important;
    color: #fff;
  }
  .ant-menu-submenu-title:hover {
    color: rgb(248, 248, 242) !important;
    background-color: #4ea12857;
  }

  i.ant-menu-submenu-arrow {
    color: #ffffff;
  }

  i.ant-menu-submenu-arrow::before {
    color: #ffffff !important;
  }

  i.ant-menu-submenu-arrow::after {
    color: #ffffff !important;
  }

  ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    background: rgba(48, 65, 64, 0.096);
  }
}

@media only screen and (min-width: 1920px) {
  .rowCatalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    background: #40e0d0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ff0080,
      #ff8c00,
      #40e0d0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ff0080,
      #ff8c00,
      #40e0d0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .container-catalogo {
    display: grid;
    grid-template-columns: auto 3fr;
    overflow-y: hidden;
    width: 100vw;
  }

  .columna1 {
    height: 100vh;
    width: 23rem;
    background: #ffffff;

    overflow-y: hidden;
  }

  .containerClass {
    width: 95%;
    height: 90vh;
    line-height: 1.5rem;
    text-align: justify;

    background: #fff;

    border-radius: 10px 10px 10px 10px;
    margin: auto;
    margin-top: 25px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .container-text {
    height: 915px;
    color: rgb(5, 5, 5);
    line-height: 1.5rem;
    padding: 10px;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    height: 50px;

    padding: 1rem;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(5, 5, 5);
    padding: 0.2rem;
    font-size: 18px;
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
    line-height: 1.25rem;
    font-size: 16px;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;

    .imgPinturascreen {
      height: auto;
      width: 90%;
      margin-top: -50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreenSati {
      height: auto;
      width: 80%;
      margin-top: -50px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-vk10 {
      height: auto;
      width: 60%;
      margin-top: -20px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-esmalte {
      height: auto;
      width: 70%;
      margin-top: -20px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-imper {
      height: auto;
      width: 95%;
      margin-top: -50px;
      margin-bottom: -0.8rem;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
    }

    .imgPinturascreen-iron {
      height: auto;
      width: 85%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -7vh;
    }

    .imgPinturascreen-pasta {
      height: auto;
      width: 95%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
      margin-top: -7vh;
    }
  }

  .imgPinturascreenB {
    height: auto;
    width: 75%;
    margin-top: -50px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
  }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 35px;
    }

    .imagenInicio {
      width: 40%;
      margin-top: 1px;
    }
  }

  .ant-menu-submenu
    .ant-menu-submenu-inline
    .ant-menu-submenu-open
    .ant-menu-submenu-selected {
    width: 200px;
    height: 100vh !important;
  }

  .ant-menu-item a::before {
    color: #fff;
    font-weight: 1000;
  }

  .volver {
    background-color: #299cb9 !important;
    color: #fff !important;
    font-weight: 1000 !important;
  }

  .volver:hover {
    background-color: #4ea12857 !important;
    color: rgb(247, 245, 245) !important;
    font-weight: 1000 !important;
  }

  .ant-menu-submenu-title {
    background-color: #299cb9 !important;
    color: #fff;
  }
  .ant-menu-submenu-title:hover {
    color: rgb(248, 248, 242) !important;
    background-color: #4ea12857;
  }

  i.ant-menu-submenu-arrow {
    color: #ffffff;
  }

  i.ant-menu-submenu-arrow::before {
    color: #ffffff !important;
  }

  i.ant-menu-submenu-arrow::after {
    color: #ffffff !important;
  }

  ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    background: rgba(48, 65, 64, 0.096);
  }
}
