@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.rowCatalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  background: #546c75;
}

.container-catalogo {
  display: grid;
  grid-template-columns: auto 3fr;
  overflow-y: hidden;
  width: 100vw;
}

.columna1 {
  height: 100vh;
  width: 23rem;
  background: #ffffff;

  overflow-y: hidden;
}

.containerClass {
  width: 95%;
  height: auto;
  line-height: 1.1rem;
  text-align: justify;

  background: #fff;

  border-radius: 10px 10px 10px 10px;
  margin: auto;
  margin-top: 25px;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 15px -7px,
    rgba(150, 130, 130, 0.3) 0px 30px 60px -30px, #f8f8f8 0px -2px 3px 0px inset;

  // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  //   rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #a08a4e 0px -2px 6px 0px inset;
}

.container-text {
  height: 915px;
  padding: 1rem 4rem 3rem 3rem;
  color: rgb(5, 5, 5);
  line-height: 15px;
}

.container-text h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: rgb(255, 255, 255);
  background: #299cb9;
  height: 50px;

  padding: 1rem;
}
.container-text h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border-bottom: 2px solid rgb(201, 180, 180);
  color: rgb(5, 5, 5);
  padding: 0.2rem;
}

.container-text p {
  font-family: "Roboto", sans-serif;
}

.container-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;

  .imgPinturascreen {
    height: 596px;
    width: 75%;
    // margin-bottom: 3.3rem;

    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
  }

  .imgPinturascreenSati {
    height: 650px;
    width: 75%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
  }

  .imgPinturascreen-vk10 {
    height: 600px;
    width: 55%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
  }

  .imgPinturascreen-esmalte {
    height: 610px;
    width: 65%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
  }

  .imgPinturascreen-imper {
    height: 606px;
    width: 85%;
    margin-bottom: -0.8rem;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
  }

  .imgPinturascreen-iron {
    height: 700px;
    width: 85%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
  }

  .imgPinturascreen-pasta {
    height: 561px;
    width: 80%;
    margin-bottom: -0.8rem;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
  }
}

.imgPinturascreenB {
  height: 750px;
  width: 80%;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.671));
}

.containerInicio {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;

  h1 {
    font-size: 35px;
  }

  // img {
  //   width: 30vw;
  // }
}

.ant-menu-submenu
  .ant-menu-submenu-inline
  .ant-menu-submenu-open
  .ant-menu-submenu-selected {
  width: 200px;
  height: 100vh !important;
}

.ant-menu-item a::before {
  color: #fff;
  font-weight: 1000;
}

.volver {
  background-color: #299cb9 !important;
  color: #fff !important;
  font-weight: 1000 !important;
}

.volver:hover {
  background-color: #4ea12857 !important;
  color: rgb(247, 245, 245) !important;
  font-weight: 1000 !important;
}

.ant-menu-submenu-title {
  background-color: #299cb9 !important;
  color: #fff;
}
.ant-menu-submenu-title:hover {
  color: rgb(248, 248, 242) !important;
  background-color: #4ea12857;
}

i.ant-menu-submenu-arrow {
  color: #ffffff;
}

i.ant-menu-submenu-arrow::before {
  color: #ffffff !important;
}

i.ant-menu-submenu-arrow::after {
  color: #ffffff !important;
}

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
  background: rgba(48, 65, 64, 0.096);
}

@media (max-width: 400.98px) {
  .columna1 {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    height: 56vh;
    width: 100vw;
    background: rgba(48, 65, 64, 0.76);
    overflow-y: hidden;
  }

  .containerClass {
    width: 100%;
    height: auto;
    line-height: 1.1rem;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    z-index: 1;
  }

  .container-text {
    height: 915px;
    padding: 1rem 4rem 3rem 3rem;
    color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    font-size: 18px;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(255, 255, 255);
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;

    .imgPinturascreen {
      margin-top: 200px;
      height: 350px;
      width: 80%;
      // margin-bottom: 3.3rem;
    }

    .imgPinturascreenSati {
      margin-top: -150px;
      height: 350px;
      width: 75%;
      margin-bottom: 10px;
    }

    .imgPinturascreen-vk10 {
      margin-top: 80px;
      height: 380px;
      width: 65%;
    }

    .imgPinturascreen-esmalte {
      margin-top: -140px;
      height: 400px;
      width: 80%;
      margin-bottom: 1rem;
    }

    .imgPinturascreen-imper {
      margin-top: 400px;
      height: 350px;
      width: 290px;
    }

    .imgPinturascreen-iron {
      height: 420px;
      width: 100%;
    }

    .imgPinturascreen-pasta {
      margin-top: 150px;
      height: 300px;
      width: 250px;
    }
  }

  .imgPinturascreenB {
    margin-top: -100px;
    height: 400px;
    width: 80%;
    margin-bottom: 1rem;
  }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;

    h1 {
      font-size: 32px;
      padding: 6px;
    }

    img {
      margin-top: -200px;
      width: 85vw;
      margin-left: 30px;
    }
  }
}

@media screen and (min-width: 401px) and (max-width: 578.98px) {
  .columna1 {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 0px 0px 10px 10px;
    height: 59vh;
    width: 100vw;
    background: rgba(48, 65, 64, 0.76);
    overflow-y: hidden;
  }

  .containerClass {
    width: 100%;
    height: auto;
    line-height: 1.1rem;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    z-index: 1;
  }

  .container-text {
    height: 915px;
    padding: 1rem 4rem 3rem 3rem;
    color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    font-size: 18px;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(255, 255, 255);
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;

    .imgPinturascreen {
      margin-top: 200px;
      height: 350px;
      width: 80%;
      // margin-bottom: 3.3rem;
    }

    .imgPinturascreenSati {
      margin-top: -150px;
      height: 350px;
      width: 75%;
      margin-bottom: 10px;
    }

    .imgPinturascreen-vk10 {
      margin-top: 80px;
      height: 380px;
      width: 65%;
    }

    .imgPinturascreen-esmalte {
      margin-top: -140px;
      height: 400px;
      width: 80%;
      margin-bottom: 1rem;
    }

    .imgPinturascreen-imper {
      margin-top: 400px;
      height: 350px;
      width: 290px;
    }

    .imgPinturascreen-iron {
      height: 420px;
      width: 100%;
    }

    .imgPinturascreen-pasta {
      margin-top: 150px;
      height: 300px;
      width: 250px;
    }
  }

  .imgPinturascreenB {
    margin-top: -100px;
    height: 400px;
    width: 80%;
    margin-bottom: 1rem;
  }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;

    h1 {
      font-size: 32px;
      padding: 6px;
    }

    img {
      margin-top: -200px;
      width: 85vw;
      margin-left: 30px;
    }
  }
}

@media screen and (min-width: 579px) and (max-width: 767.98px) {
  .columna1 {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 0px 0px 10px 10px;
    height: 55vh;
    width: 100vw;
    background: rgba(48, 65, 64, 0.76);
    overflow-y: hidden;
  }

  .containerClass {
    width: 100%;
    height: auto;
    line-height: 1.1rem;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    z-index: 1;
  }

  .container-text {
    height: 915px;
    padding: 1rem 4rem 3rem 3rem;
    color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    font-size: 18px;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(255, 255, 255);
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;

    .imgPinturascreen {
      margin-top: 200px;
      height: 350px;
      width: 80%;
      // margin-bottom: 3.3rem;
    }

    .imgPinturascreenSati {
      margin-top: -150px;
      height: 350px;
      width: 75%;
      margin-bottom: 10px;
    }

    .imgPinturascreen-vk10 {
      margin-top: 80px;
      height: 380px;
      width: 65%;
    }

    .imgPinturascreen-esmalte {
      margin-top: -140px;
      height: 400px;
      width: 80%;
      margin-bottom: 1rem;
    }

    .imgPinturascreen-imper {
      margin-top: 400px;
      height: 350px;
      width: 290px;
    }

    .imgPinturascreen-iron {
      height: 420px;
      width: 100%;
    }

    .imgPinturascreen-pasta {
      margin-top: 150px;
      height: 300px;
      width: 250px;
    }
  }

  .imgPinturascreenB {
    margin-top: -100px;
    height: 400px;
    width: 80%;
    margin-bottom: 1rem;
  }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;

    h1 {
      font-size: 32px;
      padding: 6px;
    }

    img {
      margin-top: -200px;
      width: 85vw;
      margin-left: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 809.98px) {
  .columna1 {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 0px 0px 10px 10px;
    height: 44vh;
    width: 100vw;
    background: rgba(48, 65, 64, 0.76);
    overflow-y: hidden;
    z-index: 1000;
  }

  .containerClass {
    width: 100%;
    width: 100vw;
    height: auto;
    line-height: 1.1rem;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    z-index: 1;
  }

  .container-text {
    height: 915px;
    padding: 1rem 4rem 3rem 3rem;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 0px 0px 10px 10px;

    h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 800;
      color: rgb(255, 255, 255);
      background: #299cb9;
      height: 50px;

      padding: 1rem;
    }
    h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      border-bottom: 2px solid rgb(201, 180, 180);
      color: rgb(255, 255, 255);

      padding: 0.2rem;
    }

    p {
      font-family: "Roboto", sans-serif;
    }
  }

  .container-image {
    .imgPinturascreen {
      height: 596px;
      width: 75%;
      margin-bottom: 3.3rem;
    }

    .imgPinturascreenSati {
      margin-top: -300px;
      margin-bottom: 20px;
      height: 780px;
      width: 80%;
    }

    .imgPinturascreen-vk10 {
      margin-top: -150px;
      margin-bottom: 20px;
      height: 800px;
      width: 70%;
    }

    .imgPinturascreen-esmalte {
      margin-top: -320px;
      margin-bottom: 20px;
      height: 700px;
      width: 70%;
    }

    .imgPinturascreen-imper {
      height: 650px;
      width: 80vw;
    }

    .imgPinturascreen-iron {
      margin-top: -180px;
      height: 950px;
      width: 100%;
    }

    .imgPinturascreen-pasta {
      margin-top: -100px;
      height: 750px;
      width: 100%;
    }
  }

  .imgPinturascreenB {
    margin-top: -300px;
    margin-bottom: 20px;
    height: 780px;
    width: 80%;
  }

  .containerInicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      margin-top: 60px;
      width: 55vw;
      margin-left: 0px;
    }
  }
}

@media screen and (min-width: 810px) and (max-width: 833.98px) {
  .rowCatalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
  }

  .container-catalogo {
    display: grid;
    grid-template-columns: auto 3fr;
    overflow-y: hidden;
    width: 100vw;
  }

  .columna1 {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 0px 0px 10px 10px;
    height: 42vh;
    width: 100vw;
    background: rgba(48, 65, 64, 0.76);
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 0px 0px 10px 10px;
  }

  .containerClass {
    width: 90%;
    height: auto;
    line-height: 1.1rem;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 0px 0px 10px 10px;
    margin: auto;
  }

  .container-text {
    height: 915px;
    padding: 1rem 4rem 3rem 3rem;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 0px 0px 10px 10px;
  }

  .container-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #299cb9;
    height: 50px;

    padding: 1rem;
  }
  .container-text h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(201, 180, 180);
    color: rgb(255, 255, 255);

    padding: 0.2rem;
  }

  .container-text p {
    font-family: "Roboto", sans-serif;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;

    .imgPinturascreen {
      height: 596px;
      width: 75%;
      margin-bottom: 3.3rem;
    }

    .imgPinturascreenSati {
      height: 650px;
      width: 75%;
    }

    .imgPinturascreen-vk10 {
      height: 600px;
      width: 55%;
    }

    .imgPinturascreen-esmalte {
      height: 600px;
      width: 65%;
    }

    .imgPinturascreen-imper {
      height: 496px;
      width: 80%;
      margin-bottom: -0.8rem;
    }

    .imgPinturascreen-iron {
      height: 620px;
      width: 80%;
    }

    .imgPinturascreen-pasta {
      height: 561px;
      width: 80%;
      margin-bottom: -0.8rem;
    }
  }

  .imgPinturascreenB {
    height: 750px;
    width: 80%;
  }

  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
      font-size: 35px;
    }

    img {
      margin-top: 50px;
      width: 100%;
    }
  }

  .ant-menu-submenu
    .ant-menu-submenu-inline
    .ant-menu-submenu-open
    .ant-menu-submenu-selected {
    width: 200px;
    height: 100vh !important;
  }

  .ant-menu-item a::before {
    color: #fff;
    font-weight: 1000;
  }

  .volver {
    background-color: #299cb9 !important;
    color: #fff !important;
    font-weight: 1000 !important;
  }

  .volver:hover {
    background-color: #4ea12857 !important;
    color: rgb(247, 245, 245) !important;
    font-weight: 1000 !important;
  }

  .ant-menu-submenu-title {
    background-color: #299cb9 !important;
    color: #fff;
  }
  .ant-menu-submenu-title:hover {
    color: rgb(248, 248, 242) !important;
    background-color: #4ea12857;
  }

  i.ant-menu-submenu-arrow {
    color: #ffffff;
  }

  i.ant-menu-submenu-arrow::before {
    color: #ffffff !important;
  }

  i.ant-menu-submenu-arrow::after {
    color: #ffffff !important;
  }

  ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    background: rgba(48, 65, 64, 0.096);
  }
}

@media screen and (min-width: 834px) and (max-width: 1023.98px) {
}

@media screen and (min-width: 1024px) and (max-width: 1367px) {
  .containerClass {
    width: 95%;
    height: 100vh;
    line-height: 1.1rem;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 0px 0px 10px 10px;
    margin: auto;
  }
  .columna1 {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(48, 65, 64, 0.76);
    border-radius: 0px 0px 10px 10px;
    height: 100vh;
    width: 23rem;
    background: rgba(48, 65, 64, 0.76);
    overflow-y: hidden;
  }
  .container-text {
    height: 100vh;
    padding: 1rem 4rem 3rem 3rem;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 0px 0px 10px 10px;

    h1 {
      font-size: 22px;
    }
  }
  .containerInicio {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
      font-size: 35px;
    }

    img {
      margin-top: 50px;
      width: 100%;
    }
  }
  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;

    .imgPinturascreen {
      height: 466px;
      width: 90%;
      margin-bottom: 3.3rem;
    }

    .imgPinturascreenSati {
      height: 450px;
      width: 75%;
    }

    .imgPinturascreen-vk10 {
      height: 486px;
      width: 80%;
      margin-bottom: -0.8rem;
    }

    .imgPinturascreen-esmalte {
      height: 486px;
      width: 80%;
      margin-bottom: -0.8rem;
    }

    .imgPinturascreen-imper {
      height: 406px;
      width: 100%;
      margin-bottom: -0.8rem;
    }

    .imgPinturascreen-iron {
      height: 486px;
      width: 100%;
    }

    .imgPinturascreen-pasta {
      height: 486px;
      width: 100%;
      margin-bottom: -0.8rem;
    }
    .imgPinturascreenB {
      height: 500px;
      width: 80%;
    }
  }
}

@media screen and (min-width: 1112px) and (max-width: 1380.99px) {
}
