.background-section-main2 {
  background: url(../img/background_property_month.jpg); /* Chrome 10-25, Safari 5.1-6 */
  background: url(../img/background_property_month.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-height: 55vw;
  height: auto;
  margin: 0;
  padding: 0;
}

.container__seccion-2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 3rem;
  height: auto;
}

.container__seccion-2 p {
  max-width: 40vw;
  width: 100%;
  height: auto;
  text-align: justify;
  font-size: 1.44vw;
  margin: auto;
}

.container__seccion-2 h3 {
  font-size: 1.78vw;
}

.imagen__main2 {
  max-width: 40vw;
  min-height: 200px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: auto;
  background-color: #f0e9c6;
  margin-top: 20px;
}

.texto__main__2 {
  margin-top: 10rem;
}

.background-section-main2 h3 {
  margin-top: 5rem;
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
  font-size: auto;
  color: rgb(221, 83, 83);
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

// RESPONSIVE

@media only screen and (max-width: 768px) {
  .background-section-main2 {
    background: url(../img/background_property_month.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: url(../img/background_property_month.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    position: relative;
    width: 100%;
    min-height: 55vw;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .container__seccion-2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 3rem;
    height: auto;
  }

  .container__seccion-2 p {
    max-width: 80vw;
    width: 100%;
    height: auto;
    text-align: justify;
    font-size: 3.44vw;
    margin: auto;
  }

  .container__seccion-2 h3 {
    font-size: 2.78vw;
  }

  .imagen__main2 {
    max-width: 80vw;
    min-height: 200px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: auto;
    background-color: #f0e9c6;
    margin-top: 20px;
  }

  .texto__main__2 {
    margin-top: 10rem;
  }

  .background-section-main2 h3 {
    font-size: 30px;
    margin-top: 5rem;
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    font-size: auto;
    color: rgb(221, 83, 83);
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  }
}
