* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container-icons {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  z-index: 500;
  border-radius: 50%;
  box-shadow: 5px 4px 10px 0.1px rgba(189, 183, 183, 0.98),
    11px 10px 13px 3px rgba(0, 0, 0, 0.08);
  background: rgb(82, 255, 2);
  padding: 14px 17px 14px 17px;
}

.iconoWhatsapp {
  display: flex;
  font-size: 80px;
  transition: all 300ms;
  color: #ffff;
  border-radius: 50%;
  transition-duration: 0.8s;
}

.container-icons .iconoWhatsapp:hover {
  transform: rotate(20deg);
  color: #ffff;
}

@media (max-width: 400.98px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .container-icons {
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    z-index: 500;
    border-radius: 50%;
    box-shadow: 5px 4px 10px 0.1px rgba(189, 183, 183, 0.98),
      11px 10px 13px 3px rgba(0, 0, 0, 0.08);
    background: rgb(82, 255, 2);
    padding: 14px 17px 14px 17px;
  }

  .iconoWhatsapp {
    display: flex;
    font-size: 3rem;
    transition: all 300ms;
    color: #ffff;
    border-radius: 50%;
    transition-duration: 0.8s;
  }

  .container-icons .iconoWhatsapp:hover {
    transform: rotate(20deg);
    color: #ffff;
  }
}

@media screen and (min-width: 401px) and (max-width: 578.98px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .container-icons {
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 500;
  }

  .iconoWhatsapp {
    display: flex;
    font-size: 3rem;
    transition: all 300ms;
    color: #ffff;
  }

  .container-icons .iconoWhatsapp:hover {
    transform: rotate(20deg);
  }
}

@media screen and (min-width: 579px) and (max-width: 767.98px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .container-icons {
    position: fixed;
    bottom: 20px;
    right: 18px;
    z-index: 500;
  }

  .iconoWhatsapp {
    display: flex;
    font-size: 3rem;
    transition: all 300ms;
    color: #ffff;
  }

  .container-icons .iconoWhatsapp:hover {
    transform: rotate(20deg);
  }
}

@media screen and (min-width: 768px) and (max-width: 812.98px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .container-icons {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
  }

  .iconoWhatsapp {
    display: flex;
    font-size: 80px;
    transition: all 300ms;
    color: #ffff;
  }

  .container-icons .iconoWhatsapp:hover {
    transform: rotate(20deg);
  }
}

@media screen and (min-width: 813px) and (max-width: 833.98px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .container-icons {
    position: fixed;
    bottom: 20px;
    right: 200px;
    z-index: 500;
  }

  .iconoWhatsapp {
    display: flex;
    font-size: 80px;
    transition: all 300ms;
    color: #ffff;
  }

  .container-icons .iconoWhatsapp:hover {
    transform: rotate(20deg);
  }
}

@media screen and (min-width: 834px) and (max-width: 1023.98px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .container-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 500;
  }

  .iconoWhatsapp {
    display: flex;
    font-size: 80px;
    transition: all 300ms;
    color: #ffff;
  }

  .container-icons .iconoWhatsapp:hover {
    transform: rotate(20deg);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .container-icons {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
  }

  .iconoWhatsapp {
    display: flex;
    font-size: 80px;
    transition: all 300ms;
    color: #ffff;
  }

  .container-icons .iconoWhatsapp:hover {
    transform: rotate(20deg);
  }
}

@media screen and (min-width: 1112px) and (max-width: 1380.99px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .container-icons {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
  }

  .iconoWhatsapp {
    display: flex;
    font-size: 80px;
    transition: all 300ms;
    color: #ffff;
  }

  .container-icons .iconoWhatsapp:hover {
    transform: rotate(20deg);
  }
}
