.container {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
}

aside {
  position: fixed;
  width: auto;
  z-index: 1000;
  transform: translateX(-37rem);
  transition: all 0.5s ease-in-out;
}

aside.open {
  transform: translateX(0);
}

.open-sidebar {
  border: none;
  width: 100%;
  height: auto;
  font-size: 4vw;
  padding: 1rem;
  background: none;
  cursor: pointer;
  z-index: 1000;
  margin: 1.5rem;
}

.open-sidebar:hover {
  border: none;
  color: rgb(146, 139, 139);
}

aside ul {
  padding: 0;
  list-style: none;
}

// aside li {
//   display: flex;
//   justify-content: space-between;
//   padding: 1rem;
// }

.close-sidebar {
  font-size: 1.6rem;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
}

.nav__hero {
  color: $black1;
  height: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__container {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.733);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__navBar {
  width: 45%;
  height: auto;
  padding: 0.7rem;
}

// .links {
//   margin-right: 5rem;
// }

// .categories {
//   flex-wrap: wrap;
// }

.container-links {
  position: relative;
  display: flex;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.2rem;
  background-color: #f7f7f7;
  margin-top: 0.5rem;
}

.link {
  width: 10rem;
  height: 3.5rem;
  background: rgb(5, 86, 153);
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.2rem;
  transition-duration: 0.6s;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 5px;
  border: 2.5px solid rgb(156, 154, 154);
  margin: 0.15rem;
}

.link:hover {
  height: 3.5rem;
  background: rgb(240, 128, 37);
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.2rem;
  transition-duration: 0.6s;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 5px;
  border: 2px solid rgb(211, 206, 206);
  cursor: pointer;
}

.title {
  margin-top: 40%;
  font-size: 3vw;
  font-weight: 300;
  color: $black1;
}

.copy {
  font-size: 2.78vw;
  color: $black1;
  text-shadow: $shadow $color_shadow;
  margin: 15px 0;
}

.copy__active {
  font-weight: 700;
}

.close {
  .close-sidebar {
    font-size: 1.5rem;
    color: rgb(7, 7, 7);
    position: absolute;
    top: 0;
    right: 0;
  }
}

// RESPONSIVE

@media screen and (min-width: 270px) and (max-width: 600.98px) {
  .container-links {
    width: 22rem;
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0rem;
    background-color: #f7f7f7;
    margin-top: 2.8rem;
  }

  .link {
    width: 6.1rem;
    height: 3rem;
    background: rgb(5, 86, 153);
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 0.8rem;
    transition-duration: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 5px;
    border: 2.5px solid rgb(156, 154, 154);
  }

  .close {
    .close-sidebar {
      font-size: 1.5rem;
      color: rgb(7, 7, 7);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
